{% extends "base.html" %}
{% block title %}Raman data analyser{% endblock %}

{% block page_content %}
<div>
    <h2> Results </h2>
    <!-- TODO: test with baseline!! -->
    {% if number_matches_med %}
    <blockquote>
        
        Found {{all_matches}} locations out of {{number_locations}} potentially positive for {{material}} in {{filename}}, {{number_matches_med}} with medium confidence, {{number_matches_high}} with high confidence. The confidence is based on a scaled z score.
        <!-- TODO: include confidence values!!!! -->
            {% if baseline_example is defined %}
            <div>
                    <img src="data:image/png;base64,{{baseline_example}}" class="responsive"/>
            </div>
            {% endif %}
            <div>
                Examples of randomly selected matches (medium confidence):
                    <img id="spectra" src="data:image/png;base64,{{match_example}}"  class="responsive"/>
            </div>
            <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                            <form id="plot_med"  method="post" enctype="multipart/form-data">
                            <button type="button" class="btn btn-primary start" id="med-conf">
                                    <span>Plot different medium confidence spectra</span>
                                </button>
                            <input id="filename" type="hidden" name="filename"  value = {{filename}} > 
                            <input id="material" type="hidden" name="material" value = {{material}} >
                            <input id="sb" type="hidden" name="sb" value = {{subtract_baseline}}>
                            </form>
                            <form id="plot_high" method="post" enctype="multipart/form-data">
                            <button type="button" class="btn btn-primary start" id="high-conf">
                                <span>Plot different high confidence spectra</span>
                            </button>
                            <input id="filename" type="hidden" name="filename"  value = {{filename}} > 
                            <input id="material" type="hidden" name="material" value = {{material}} >
                            <input id="sb" type="hidden" name="sb" value = {{subtract_baseline}}>
                        </form>
                        </div>

                </div>
                <table style="width:100%">
                        <tr>
                            <th></th>
                          <th>Left match details</th>
                          <th>Right match details</th> 
                        </tr>
                        <tr>
                                <td>Location </td>
                                <td id="match1_location">({{match1.x}}, {{match1.y}})</td> 
                                <td id="match2_location">({{match2.x}}, {{match2.y}})</td> 
                        </tr>
                        <tr>
                          <td>Z score</td>
                          <td id="match1_confidence">{{match1.confidence}}</td> 
                          <td id="match2_confidence">{{match2.confidence}}</td> 
                        </tr>
                        <tr>
                                <td>D/G peak ratio </td>
                                <td id="match1_peak_ratio">{{match1.peak_ratio}}</td> 
                                <td id="match2_peak_ratio">{{match2.peak_ratio}}</td> 
                        </tr>
                        <tr>
                                <td>G peak intensity </td>
                                <td id="match1_g_peak">{{match1.peak_data[0][1]}}</td> 
                                <td id="match2_g_peak">{{match2.peak_data[0][1]}}</td> 
                        </tr>
                        <tr>
                                <td>D peak intensity </td>
                                <td id="match1_d_peak">{{match1.peak_data[1][1]}}</td> 
                                <td id="match2_d_peak">{{match2.peak_data[1][1]}}</td> 
                        </tr>
                      </table>
                <br>
                Matched against following template:  <br>
                <div><img id="template" src="data:image/png;base64,{{template}}"  /> </div> <br> </br>
        </blockquote>
        <blockquote>    
            <br>
        </br>
        <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                        <form id="download_med"  action="//127.0.0.1:5000/download_med" method="post" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary start" id="med-conf-dl">
                                <span>Download all medium confidence spectra data (includes high confidence)</span>
                            </button>
                        <input id="filename" type="hidden" name="filename"  value = {{filename}} > 
                        <input id="material" type="hidden" name="material" value = {{material}} >
                        <input id="sb" type="hidden" name="sb" value = {{subtract_baseline}}>
                        </form>
                        <form id="download_high"  action="//127.0.0.1:5000/download_high"  method="post" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary start" id="high-conf-dl">
                            <span>Download all high confidence spectra data </span>
                        </button>
                        <input id="filename" type="hidden" name="filename"  value = {{filename}} > 
                        <input id="material" type="hidden" name="material" value = {{material}} >
                        <input id="sb" type="hidden" name="sb" value = {{subtract_baseline}}>
                    </form>
                    </div>

            </div>
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
            <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <fieldset>
                    <label for="file">Select a photo (if none is selected, the positions will be plotted against a black background)</label>
                    <input name="file" type="file"></br>
                    Output filename: 
                    <input type="text" name="output_filename" value="test.png"></br>
                </fieldset>
                <fieldset>
                    <button id="upload-file-btn" class="btn btn-primary start" type="button">Upload and plot locations</button>
                </fieldset>
                <input id="filename" type="hidden" name="filename"  value = {{filename}} > 
                <input id="material" type="hidden" name="material" value = {{material}} >
                <input id="sb" type="hidden" name="sb" value = {{subtract_baseline}}>
            </form>
            <div id="for-image">
            <canvas id="uploaded_image" width="800" height="600"></canvas>
        </div>
           
            <div id="for-button" style="display:none;"> 
                    <form id="download_image"  action="//127.0.0.1:5000/download_image" method="post" enctype="multipart/form-data">
                        <input type="hidden" id = "o" name="output_filename">
                        <button  id="download-image-btn" class="btn btn-primary start" type="submit">Download image of match positions</button>
                    </form>
            </div>
            <div id="success" style="display:none">
            <button  id="select-area-btn" class="btn btn-primary start">Compare inside and outside selected area</button>
        </div>
        </blockquote>
        <blockquote> 
            <div id="inside_area"> </div>
            <div id="outside_area"> </div>

        </blockquote>

        {% else %}
        <blockquote> No matches found </blockquote>

        {% endif %} 
</div>

{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
<!-- blueimp Gallery script -->
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

    <script type=text/javascript>
    let path = [];
    var canvas = document.getElementById('uploaded_image');
function draw(img_src) {
    console.log("in draw")
  
  if (!canvas.getContext) {
      throw new Error("Cannot get canvas Context");
  }
  var ctx = canvas.getContext('2d');
  const image = new Image(0,0);
  image.onload = function() {
  ctx.drawImage(image, 0, 0);
};
  image.src = "data:image/png;base64,"+img_src

  image.onload = drawImageActualSize; // Draw when image has loaded

  function drawImageActualSize() {
    // Use the intrinsic size of image in CSS pixels for the canvas element
    canvas.width = this.naturalWidth;
    canvas.height = this.naturalHeight;

    // Will draw the image as 300x227, ignoring the custom size of 60x45
    // given in the constructor
    ctx.drawImage(this, 0, 0);

    // To use the custom size we'll have to specify the scale parameters
    // using the element's width and height properties - lets draw one
    // on top in the corner:
    ctx.drawImage(this, 0, 0, this.width, this.height);
  }

  let drawing = false;
  let x, y;
  canvas.addEventListener("mousemove", function (e) {
    if (!drawing) { return; }
    console.log("Mousemove: %o", e);
    prevX = x;
    prevY = y;
    var offset = $('#uploaded_image').offset();
    //x = e.clientX; //- canvas.offsetLeft;
    //y = e.clientY;// - canvas.offsetTop;

    x = (e.pageX - offset.left)
    y = (e.pageY - offset.top) 

    draw(prevX, prevY, x, y)
    path.push([x, y])
  }, false);
  canvas.addEventListener("mousedown", function (e) {
    drawing = true;
  }, false);
  canvas.addEventListener("mouseup", function (e) {
    drawing = false;
  }, false);
  canvas.addEventListener("mouseout", function (e) {
      console.debug("mouseout");
  }, false);

  function draw(sx, sy, x, y) {
    console.debug("Drawing from (%d, %d) to (%d, %d)", sx, sy, x, y);
    ctx.beginPath();
    ctx.moveTo(sx, sy);
    ctx.lineTo(x, y);
    ctx.strokeStyle = 'red';
    ctx.lineWidth = 2;
    ctx.stroke();
    ctx.closePath();
  }
}

$(function() {
    $('#select-area-btn').click(function(){
        console.log({"data": JSON.stringify(path, null, '\t'), "canvas_height": canvas.height, "canvas_width":canvas.width, "filename": document.getElementById("filename").value, "material": document.getElementById("material").value, "sb": document.getElementById("sb").value});
                  $.ajax({
                  type: 'POST',
                  url: '/selectarea',
                  // send path data, things necessary to get FM (and therefore matches), and canvas data for scaling
                  data: JSON.stringify({"data": JSON.stringify(path, null, '\t'), "canvas_height": canvas.height, "canvas_width":canvas.width, "filename": document.getElementById("filename").value, "material": document.getElementById("material").value, "sb": document.getElementById("sb").value}, null, '\t'),
                  contentType: 'application/json;charset=UTF-8',
                  success: function(data) {
                      var res = document.getElementById("inside_area")
                      res.innerHTML = data.blah
                  console.log('Success!');
          },
      });
    });
  });

                $(function() {
                    $('#upload-file-btn').click(function() {
                         var form_data = new FormData($('#upload-file')[0]);
                        $.ajax({
                        type: 'POST',
                        url: '/uploadajax',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(data) {
                        // add output filename to form for allowing user to download image
                        filename = document.getElementById("o")
                        console.log(data)
                        console.log(data.output_filename)
                        filename.value = data.output_filename
                        // show button for dowloading image
                        // doing to form element gives null 
                        //var b = document.getElementById("dowload-image") // tried with special div and was getting typr error, must be instance of node
                        //b.appendChild('<button  id="download-image-btn" type="button">Download image of match positions</button>')
                        var b = document.getElementById("for-button")
                        b.style.display ="block"
                        var c = document.getElementById("success")
                        c.style.display ="block"
                        draw(data.image)
                    console.log('Success!');
                },
            });
        });
    });

    $(function() {
        // should be simpler cos no form data
                    $('#med-conf').click(function() {
                        console.log("clicked plot med");
                        var form_data = new FormData($('#plot_med')[0]);
                        $.ajax({
                        type: 'POST',
                        url: '/plot_med',
                        contentType: false,
                        cache: false,
                        processData: false,
                        data: form_data,
                        success: function(data) {
                        $("#spectra").attr('src', "data:image/png;base64,"+data.image)
                        $("#match1_d_peak").html('<td id="match1_d_peak">' + data.d_intensity1 + '</td>')                        
                        $("#match2_d_peak").html('<td id="match2_d_peak">' + data.d_intensity2 + '</td>')
                        $("#match1_g_peak").html('<td id="match1_g_peak">' + data.g_intensity1 + '</td>')                        
                        $("#match2_g_peak").html('<td id="match2_g_peak">' + data.g_intensity2 + '</td>')
                        $("#match1_location").html('<td id="match1_location"> (' + data.x1 + ','+ data.y1 +')</td>')
                        $("#match1_confidence").html('<td id="match1_confidence">' + data.match1_confidence + '</td>')                        
                        $("#match1_peak_ratio").html('<td id="match1_peak_ratio">' + data.peak_ratio1 + '</td>')
                        $("#match2_location").html('<td id="match2_location"> (' + data.x2  + ', '+ data.y2 +')</td>')
                        $("#match2_confidence").html('<td id="match2_confidence">' + data.match2_confidence + '</td>')                        
                        $("#match2_peak_ratio").html('<td id="match2_peak_ratio">' + data.peak_ratio2 + '</td>')
                    console.log('Success!');
                },
            });
        });
    });
    $(function() {
                    $('#high-conf').click(function() {
                        console.log("clicked plot high");
                        var form_data = new FormData($('#plot_high')[0]);
                        $.ajax({
                        type: 'POST',
                        url: '/plot_high',
                        contentType: false,
                        cache: false,
                        processData: false,
                        data: form_data,
                        success: function(data) {
                        $("#spectra").attr('src', "data:image/png;base64,"+data.image)
                        $("#match1_d_peak").html('<td id="match1_d_peak">' + data.d_intensity1 + '</td>')                        
                        $("#match2_d_peak").html('<td id="match2_d_peak">' + data.d_intensity2 + '</td>')
                        $("#match1_g_peak").html('<td id="match1_g_peak">' + data.g_intensity1 + '</td>')                        
                        $("#match2_g_peak").html('<td id="match2_g_peak">' + data.g_intensity2 + '</td>')
                        $("#match1_location").html('<td id="match1_location"> (' + data.x1 + ','+ data.y1 +')</td>')
                        $("#match1_confidence").html('<td id="match1_confidence">' + data.match1_confidence + '</td>')                        
                        $("#match1_peak_ratio").html('<td id="match1_peak_ratio">' + data.peak_ratio1 + '</td>')
                        $("#match2_location").html('<td id="match2_location"> (' + data.x2  + ', '+ data.y2 +')</td>')
                        $("#match2_confidence").html('<td id="match2_confidence">' + data.match2_confidence + '</td>')                        
                        $("#match2_peak_ratio").html('<td id="match2_peak_ratio">' + data.peak_ratio2 + '</td>')
                    console.log('Success!');
                },
            });
        });
    });

              </script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
{% endblock %}

<!-- 
    for selecting area of image - just download image, and say how many at what confidence inside and outside selected region
    https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Using_images
https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Compositing
https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Transformations
https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse
http://jsfiddle.net/ghostoy/wTmFE/1/ for how to draw a line on a canvas
-->