{% extends "base.html" %}
{% block title %}Raman data analyser{% endblock %}

{% block page_content %}
<div>
    <h2> Results </h2>
    <!-- TODO: test with baseline!! -->

    <blockquote>
        Found {{number_matches}} locations out of {{number_locations}} positive for {{material}} with {{confidence}} confidence.
        <!-- TODO: include confidence values!!!! -->
            {% if baseline_example is defined %}
            <div>
                    <img src="data:image/png;base64,{{baseline_example}}" class="responsive"/>
            </div>
            {% endif %}
            <div>
                Examples of randomly selected matches (medium confidence):
                    <img id="spectra" src="data:image/png;base64,{{match_example}}"  class="responsive"/>
            </div>
            <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                            <form id="plot_med"  method="post" enctype="multipart/form-data">
                            <button type="button" class="btn btn-primary start" id="med-conf">
                                    <span>Plot different medium confidence spectra</span>
                                </button>
                            <input id="filename" type="hidden" name="filename"  value = {{filename}} > 
                            <input id="material" type="hidden" name="material" value = {{material}} >
                            <input id="sb" type="hidden" name="sb" value = {{subtract_baseline}}>
                            </form>
                            <form id="plot_high" method="post" enctype="multipart/form-data">
                            <button type="button" class="btn btn-primary start" id="high-conf">
                                <span>Plot different high confidence spectra</span>
                            </button>
                            <input id="filename" type="hidden" name="filename"  value = {{filename}} > 
                            <input id="material" type="hidden" name="material" value = {{material}} >
                            <input id="sb" type="hidden" name="sb" value = {{subtract_baseline}}>
                        </form>
                        </div>

                </div>
                <br>
                Matched against following template:  <br>
                <div><img id="template" src="data:image/png;base64,{{template}}"  /> </div> <br> </br>
        </blockquote>
        <blockquote>    
            <br>
        </br>
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
            <noscript><input type="hidden" name="redirect" value="http://blueimp.github.io/jQuery-File-Upload/"></noscript>
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <fieldset>
                    <label for="file">Select a photo</label>
                    <input name="file" type="file"></br>
                    Output filename: 
                    <input type="text" name="output_filename"></br>
                </fieldset>
                <fieldset>
                    <button id="upload-file-btn" class="btn btn-primary start" type="button">Upload and plot locations</button>
                </fieldset>
                <input id="filename" type="hidden" name="filename"  value = {{filename}} > 
                <input id="material" type="hidden" name="material" value = {{material}} >
                <input id="sb" type="hidden" name="sb" value = {{subtract_baseline}}>
            </form>
            <div id="for-image">
            </div>
            <div id="for-button" style="display:none;"> 
                    <form id="download_image"  action="//127.0.0.1:5000/download_image" method="post" enctype="multipart/form-data">
                        <input type="hidden" id = "o" name="output_filename">
                        <button  id="download-image-btn" class="btn btn-primary start" type="submit">Download image of match positions</button>
                    </form>
            </div>
        </blockquote>
</div>

{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
<!-- blueimp Gallery script -->
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

    <script type=text/javascript>
                $(function() {
                    $('#upload-file-btn').click(function() {
                         var form_data = new FormData($('#upload-file')[0]);
                        $.ajax({
                        type: 'POST',
                        url: '/uploadajax',
                        data: form_data,
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function(data) {
                        img = document.createElement("img");
                        img.src = "data:image/png;base64,"+data.image
                        var elem = document.getElementById("for-image")
                        elem.appendChild(img)
                        // add output filename to form for allowing user to download image
                        filename = document.getElementById("o")
                        console.log(data)
                        console.log(data.output_filename)
                        filename.value = data.output_filename
                        // show button for dowloading image
                        // doing to form element gives null 
                        //var b = document.getElementById("dowload-image") // tried with special div and was getting typr error, must be instance of node
                        //b.appendChild('<button  id="download-image-btn" type="button">Download image of match positions</button>')
                        var b = document.getElementById("for-button")
                        b.style.display ="block"
                    console.log('Success!');
                },
            });
        });
    });

    $(function() {
        // should be simpler cos no form data
                    $('#med-conf').click(function() {
                        console.log("clicked plot med");
                        var form_data = new FormData($('#plot_med')[0]);
                        $.ajax({
                        type: 'POST',
                        url: '/plot_med',
                        contentType: false,
                        cache: false,
                        processData: false,
                        data: form_data,
                        success: function(data) {
                        console.log('in function')
                        console.log(data)
                        console.log('blahblahblah')
                        $("#spectra").attr('src', "data:image/png;base64,"+data.image)
                    console.log('Success!');
                },
            });
        });
    });
    $(function() {
                    $('#high-conf').click(function() {
                        console.log("clicked plot high");
                        var form_data = new FormData($('#plot_high')[0]);
                        $.ajax({
                        type: 'POST',
                        url: '/plot_high',
                        contentType: false,
                        cache: false,
                        processData: false,
                        data: form_data,
                        success: function(data) {
                        console.log('in function')
                        console.log(data)
                        console.log('blahblahblah')
                        $("#spectra").attr('src', "data:image/png;base64,"+data.image)
                    console.log('Success!');
                },
            });
        });
    });

              </script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
<!--[if (gte IE 8)&(lt IE 10)]>
<script src="js/cors/jquery.xdr-transport.js"></script>
<![endif]-->
{% endblock %}
